* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #F9FF80;
    background-color:#3642FE;
    padding: 25px;
    margin: 0;
}
.itens {
    list-style: none;
    display: flex;
}
.itens>li>a {
    padding-left: 20px;
    color: #F9FF80;
    text-decoration: none;
}
.btn{
    padding: 10px 40px;
    text-align: center;
}
.cadMovel {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3642FE;
    color: #F9FF80;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.cadMovel:hover {
    background-color: #1e19a8;
    transition: 1s ;
}
.itens>li>a:hover {
    color: #f6d853;
    transition: 1s ;
}
.img {
    text-align: center;
    border-radius: 40px;
    width: 70%;
}
.imgblock {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.subtitle {
    font-weight: 300;
    font-size: 18px;
    font-family: "Praise", cursive;
    color: white;
}
.title {
    font-weight: 800;
    font-size: 20px;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container div {
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav .links ul {
        flex-direction: column;
        margin: 20px 0;
    }

    nav .links ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav .btn {
        margin-top: 20px;
    }
}
/* Estilos para os modais */
.cad {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    font-family: "Poppins", serif;
    border-radius: 8px;
}

.modal-cad {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

#cadMoveis {
    flex-direction: column;
    display: flex;
    border-radius: 8px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.moveis-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movel {
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.movel img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.info-produto {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.btn-negociar {
    margin-top: 10px;
    padding: 10px;
    background-color: #f6d853;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
