* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f7b8;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #F9FF80;
    background-color:#3642FE;
    padding: 25px;
    margin: 0;
}
.logo {
    display: flex;
    flex-direction: column;
}
.itens {
    list-style: none;
    display: flex;
}
.itens>li>a {
    padding-left: 20px;
    color: #F9FF80;
    text-decoration: none;
}
.login {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F9FF80;
    color: #3642FE;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #F9FF80;
    color: #3642FE;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.login:hover {
    background-color: #f6d853;
    transition: 1s ;
}
.cadastro:hover {
    background-color: #f6d853;
    transition: 1s ;
}
.itens>li>a:hover {
    color: #f6d853;
    transition: 1s ;
}
.img {
    text-align: center;
    border-radius: 40px;
    width: 70%;
}
.imgblock {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.subtitle {
    font-weight: 300;
    font-size: 18px;
    font-family: "Praise", cursive;
    color: white;
}
.title {
    font-weight: 800;
    font-size: 20px;
}
footer {
    background-color: #3642FE;
    color: #f6d853;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-container div {
    flex: 1;
    padding: 0 20px;
}

.logo h2 {
    font-size: 24px;
    font-family: "Poppins", serif;
}

.logo span {
    color: white;
}

.logo p {
    margin-top: 10px;
    font-size: 14px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info i {
    margin-right: 10px;
}

.about h3 {
    margin-bottom: 15px;
}

.about p {
    font-size: 14px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-container div {
        margin-bottom: 20px;
    }
}